body {
    background-color: #800000;
    color: #f08080;
    font-family: sans-serif;
    text-align: center;
    font-size: x-large;
}
a {
    color: #f08080;
}
.body {
    font-size: x-large;
}
@font-face {
    font-family: "Puzzle";
    src: url("PuzzleRegular.otf") format("truetype");
}
.puzzle {
    font-family: "Puzzle", serif;
}
